src/conf/xml-resources/web-service-references/OperacionesWS/wsdl/localhost_8080/FarmacioWeSOAP/OperacionesWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="OperacionesWS">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/FarmacioWeSOAP/OperacionesWS?xsd=1"/>
</xsd:schema>
</types>
<message name="CrearPedido">
<part name="parameters" element="tns:CrearPedido"/>
</message>
<message name="CrearPedidoResponse">
<part name="parameters" element="tns:CrearPedidoResponse"/>
</message>
<message name="CrearProducto">
<part name="parameters" element="tns:CrearProducto"/>
</message>
<message name="CrearProductoResponse">
<part name="parameters" element="tns:CrearProductoResponse"/>
</message>
<message name="EliminarProducto">
<part name="parameters" element="tns:EliminarProducto"/>
</message>
<message name="EliminarProductoResponse">
<part name="parameters" element="tns:EliminarProductoResponse"/>
</message>
<message name="BuscarProducto">
<part name="parameters" element="tns:BuscarProducto"/>
</message>
<message name="BuscarProductoResponse">
<part name="parameters" element="tns:BuscarProductoResponse"/>
</message>
<portType name="OperacionesWS">
<operation name="CrearPedido">
<input wsam:Action="http://sw/OperacionesWS/CrearPedidoRequest" message="tns:CrearPedido"/>
<output wsam:Action="http://sw/OperacionesWS/CrearPedidoResponse" message="tns:CrearPedidoResponse"/>
</operation>
<operation name="CrearProducto">
<input wsam:Action="http://sw/OperacionesWS/CrearProductoRequest" message="tns:CrearProducto"/>
<output wsam:Action="http://sw/OperacionesWS/CrearProductoResponse" message="tns:CrearProductoResponse"/>
</operation>
<operation name="EliminarProducto">
<input wsam:Action="http://sw/OperacionesWS/EliminarProductoRequest" message="tns:EliminarProducto"/>
<output wsam:Action="http://sw/OperacionesWS/EliminarProductoResponse" message="tns:EliminarProductoResponse"/>
</operation>
<operation name="BuscarProducto">
<input wsam:Action="http://sw/OperacionesWS/BuscarProductoRequest" message="tns:BuscarProducto"/>
<output wsam:Action="http://sw/OperacionesWS/BuscarProductoResponse" message="tns:BuscarProductoResponse"/>
</operation>
</portType>
<binding name="OperacionesWSPortBinding" type="tns:OperacionesWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CrearPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CrearProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OperacionesWS">
<port name="OperacionesWSPort" binding="tns:OperacionesWSPortBinding">
<soap:address location="http://localhost:8080/FarmacioWeSOAP/OperacionesWS"/>
</port>
</service>
</definitions>